@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container my-5">
    <h4>
        Welcome , emrebatukan !
    </h4>
    <hr />
    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-center my-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="far fa-file fa-3x"></i></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/Blog" class="btn btn-outline btn-sm" id="WhoAmI">
                        Go Blog Page
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center my-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="far fa-folder fa-3x"></i></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/Category" class="btn btn-outline btn-sm" id="WhoAmI">
                        Go Category Page
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center my-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="far fa-envelope fa-3x"></i></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline btn-sm" id="WhoAmI">
                        Go Messages Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>