
@{
    ViewBag.Title = "About";
}


<div class="container my-5" id="about">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4">About</h2>

            <hr />
        </div>
        <div class="col-lg-12 text-center mb-4">
            <h3>Emre Batukan</h3>
            <p>
                I was created the website with these technologies
            </p>
            <p>
                Back-end:Asp.Net MVC
            <p />
            <p>
                Front-end:Html5,Css3,Bootstrap,Javascript,Jquery
            </p>
            <p>
                You can ask me whatever you want
                <a href="/Home/Contact" target="_blank">
                    <small id="mousePointer">
                        Click Here <i class="fas fa-mouse-pointer"></i>
                    </small>
                </a>
            </p>
        </div>
    </div>
</div>

