@model IEnumerable<BlogMvcApp.Entity.Category>
@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}

<a href="/Home/List" class="list-group-item list-group-item-action ">
    <i class="fas fa-angle-double-right"></i>
    All Categories
</a>
@foreach (var item in Model)
{
    if (selectedCategory != null)
    {
        if (item.Id == int.Parse(selectedCategory.ToString()))
        {
            //active
            <a href="/Home/List/@item.Id" id="active" class="list-group-item list-group-item-action active" >
                <i class="fas fa-angle-double-right"></i>
                @item.Name
            </a>
        }
        else
        {
            <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">
                <i class="fas fa-angle-double-right"></i>
                @item.Name
            </a>
        }
    }
    else
    {
        <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">
            <i class="fas fa-angle-double-right"></i>
            @item.Name
        </a>
    }


}

